*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,s
nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

nav a:hover{
    color:#ffb400;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 10%;
    min-height:90vh;
}

.hero-content{
    max-width:600px;
}

.hero-content h1{
    font-size:55px;
    color:#ffb400;
}

.hero-content h2{
    margin:10px 0;
}

.hero-content p{
    margin:20px 0;
    line-height:1.6;
}

.btn{
    background:#ffb400;
    color:black;
    text-decoration:none;
    padding:12px 25px;
    border-radius:30px;
}

.hero-image img{
    width:350px;
    border-radius:50%;
}

.about,
.skills,
.projects,
.contact{
    padding:80px 10%;
}

.about h2,
.skills h2,
.projects h2,
.contact h2{
    text-align:center;
    margin-bottom:30px;
    color:#ffb400;
}

.details p{
    margin:10px 0;
}

.skill-box{
    background:#222;
    margin:10px 0;
    padding:15px;
    border-left:5px solid #ffb400;
}

.project-card{
    background:#222;
    padding:20px;
    margin:20px 0;
    border-radius:10px;
}

footer{
    text-align:center;
    padding:20px;
    background:black;
}

@media(max-width:768px){

.hero{
    flex-direction:column;
    text-align:center;
}

.hero-image img{
    margin-top:30px;
    width:250px;
}

nav{
    display:none;
}

.hero-content h1{
    font-size:38px;
}

}
